* {
  margin: 0;
  padding: 0;
}
section {
  height: 100vh;
  background: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
svg {
  cursor: pointer;
}
h1 {
  font-family: sans-serif;
}
h4,
h3 {
  color: white;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.star {
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 120;
}
@media (max-width: 800px) {
  .window {
    -webkit-transform: translate(-50%, -50%) scale(0.75);
    transform: translate(-50%, -50%) scale(0.75);
  }
}
@media (max-width: 360px) {
  .window {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
  }
}
@media (min-width: 1920px) {
  .window {
    -webkit-transform: translate(-50%, -50%) scale(1.25);
    transform: translate(-50%, -50%) scale(1.25);
  }
}
